<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>afire pastebin</title>
  </head>
  <body>
    <h1>afire pastebin</h1>
    <h2>New Paste</h2>

    <form action="/paste" method="post">
      <label for="title">Title</label>
      <br />
      <input type="text" name="title" />
      <br />
      <br />
      <textarea name="paste" cols="80" rows="24"></textarea>
      <br />
      <input type="submit" value="Create Paste" />
    </form>

    <h2>Recent Pastes</h2>
    {% if recent_pastes|is_empty %}
    <p>No pastes yet.</p>
    {% else %}
    <ul>
      {% for paste in recent_pastes %}
      <li>
        <a href="/paste/{{ paste.id }}">{{paste.name|or_untitled}}</a>
        <span>{{ paste.date|readable_time }}</span>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
